<footer class="bg-[#A6A6A6] pt-12 pb-4">
  <!-- Footer Style Reference: https://aztra.xyz -->
    <div class="container">
      <footer class="w-64 mx-auto flex-shrink-0 text-center md:mx-0 md:!text-left md:flex md:w-auto">
          <h4 class="text-2xl text-uppercase no-drag font-Nanum font-semibold pb-3 md:pr-6 md:pb-0 dark:text-white">편리하게. MORA</h4>
          
        <div class="col pb-2 md:pb-0">
          <h5 class="font-Nanum font-extrabold text-xl dark:text-white">사이트</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-black hover:underline dark:!text-white">메인</a></li>
            <li class="nav-item mb-2"><a href="/servers" class="nav-link p-0 text-black hover:underline dark:!text-white">대시보드</a></li>
            <li class="nav-item mb-2"><a href="/notice" class="nav-link p-0 text-black hover:underline dark:!text-white">공지사항</a></li>
            <li class="nav-item mb-2"><a href="https://koreanbots.dev/bots/997732210327179344/vote" target="_blank" class="nav-link p-0 text-black hover:underline dark:!text-white">하트 누르기</a></li>
          </ul>
        </div>
    
        <div class="col pb-2 md:pb-0">
          <h5 class="font-Nanum font-extrabold text-xl dark:text-white">문의</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="https://discord.gg/qG29dUayXn" target="_blank" class="nav-link p-0 text-black hover:underline dark:!text-white">서포트서버</a></li>
            <li class="nav-item mb-2"><a href="mailto:help@mora-bot.kr" class="nav-link p-0 text-black hover:underline dark:!text-white">메일</a></li>
          </ul>
        </div>
    
        <div class="col">
          <h5 class="font-Nanum font-extrabold text-xl dark:text-white">약관</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/privacy" class="nav-link p-0 text-black hover:underline dark:!text-white">개인정보 처리방침</a></li>
            <li class="nav-item mb-2"><a href="/tos" class="nav-link p-0 text-black hover:underline dark:!text-white">이용약관</a></li>
          </ul>
        </div>

        <!-- <div class="col">
          <h5 class="font-Nanum font-extrabold text-xl dark:text-white">기타</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <div class="flex justify-center md:justify-start">
                <a class="mr-3 dark:text-white">다크모드</a>
                <div class="relative inline-block align-middle w-10 outline-none select-none">
                  <label class="switch">
                    <input type="checkbox" id="fdarkbtn" onclick="darkmode()">
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </li>
          </ul>
        </div> -->
    </div>
    
    <div class="b-example-divider"></div>
    <div class="pt-6 text-center text-xl dark:text-white sm:text-base xs:text-sm 2xs:text-sm" >Copyright ©2022 Mora Team All rights reserved </div>
</footer>