<nav class="navbar navbar-expand-lg navbar-light nav-distance justify-content-end fixed-top min-h-[90px] shadow-md bg-white">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center !visible" id="navbarNav">
    <div>
      <a class="navbar-brand d-flex items-center font-bold text-3xl xl:mr-5 ml-3" href="/">
        <img src="/Images/Logo-Koz/logo.png" class="w-16 h-16 block ml-auto mr-auto rounded-full" alt="이미지를 불러오는 중 오류가 발생했어요..!">
        <span class="ml-3">이루</span>
      </a>
    </div>
    <ul class="navbar-nav items-center">
      <li class="nav-item">
        <a class="nav-link !text-gray-800 hover:text-lg" href="/">
          <i class="fa-solid fa-house items-center inline-flex"></i>
          메인
        </a>
      </li>
    </ul>
  </div>
</nav>