<html lang="ko">
<head>
  <%- include('../partials/head') %>
</head> 
<body>
    <header>
      <%- include('../partials/header'); %>
    </header>
  <!-- =======================================================
  * Template Name: Vesperr - v4.7.0
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0"><!-- Channel Plugin Scripts -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
  </section>

  <!-- ======= Footer ======= -->
  <%- include('../partials/footer'); %>
</body>
</html>