<nav
  class="navbar navbar-expand-lg navbar-light nav-distance justify-content-end fixed-top min-h-[90px] shadow-md bg-white">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center !visible" id="navbarNav">
    <div>
      <a class="navbar-brand d-flex items-center font-bold text-3xl xl:mr-5 ml-3" href="/">
        <img src="/Images/space/logo.jpg" class="w-16 h-16 block ml-auto mr-auto rounded-full"
          alt="이미지를 불러오는 중 오류가 발생했어요..!">
        <span class="ml-3">𝒔𝒑𝒂𝒄𝒆</span>
      </a>
    </div>
    <ul class="navbar-nav items-center">
      <li class="nav-item">
        <a class="nav-link !text-gray-800 hover:text-lg" href="/space">
          메인
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link !text-gray-800 hover:text-lg" href="/space/station">
          스테이션
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link !text-gray-800 hover:text-lg" href="/space/partner-server">
          홍보서버
        </a>
      </li>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link !text-gray-800 hover:text-lg nav-link dropdown-toggle" href="/" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span>공지사항</span>
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="/space/station/notice">𝒔𝒑𝒂𝒄𝒆 𝒔𝒕𝒂𝒕𝒊𝒐𝒏</a></li>
              <li><a class="dropdown-item" href="/space/partner-server/notice">𝐬𝐩𝐚𝐜𝐞 𝐩𝐚𝐫𝐭𝐧𝐞𝐫 server</a></li>
            </ul>
          </li>
      </ul>
    </ul>
  </div>
</nav>