<footer class="bg-[#A6A6A6] pt-12 pb-4">
    <div class="container">
      <footer class="w-64 mx-auto flex-shrink-0 text-center md:mx-0 md:!text-left md:flex md:w-auto">
          <h4 class="text-2xl text-uppercase no-drag font-Nanum font-semibold pb-3 md:pr-6 md:pb-0 dark:text-white">Koz Shop</h4>
          
        <div class="col pb-2 md:pb-0">
          <h5 class="font-Nanum font-extrabold text-xl dark:text-white">쇼핑몰</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/shop" class="nav-link p-0 text-black hover:underline dark:!text-white">메인</a></li>
            <li class="nav-item mb-2"><a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=864-27-00702" class="nav-link p-0 text-black hover:underline dark:!text-white" >사업자정보확인</a></li>
          </ul>
        </div>
    

        <div class="col pb-2 md:pb-0">
          <h5 class="font-Nanum font-extrabold text-xl dark:text-white">문의</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="tel:0507-1470-7937" target="_blank" class="nav-link p-0 text-black hover:underline dark:!text-white">전화</a></li>
            <li class="nav-item mb-2"><a href="mailto:mail@erukim.kr" class="nav-link p-0 text-black hover:underline dark:!text-white">메일</a></li>
          </ul>
        </div>
    
        <div class="col">
          <h5 class="font-Nanum font-extrabold text-xl dark:text-white">약관</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/privacy" class="nav-link p-0 text-black hover:underline dark:!text-white">개인정보 처리방침</a></li>
            <li class="nav-item mb-2"><a href="/tos" class="nav-link p-0 text-black hover:underline dark:!text-white">이용약관</a></li>
          </ul>
        </div><br>
        
        <ul class="nav flex-column">
          <li class="nav-link p-0 text-black hover:underline dark:!text-white">회사명 : 하이플레이</li>
          <li class="nav-link p-0 text-black hover:underline dark:!text-white">대표 : 김현우</li>
          <li class="nav-link p-0 text-black hover:underline dark:!text-white">주소 : 경기도 화성시 동탄광역환승로 73</li>
          <li class="nav-link p-0 text-black hover:underline dark:!text-white">사업자 등록번호 : 864-27-00702</li>
          <li class="nav-link p-0 text-black hover:underline dark:!text-white">고객센터 : 0507-1470-7937</li>
          <li class="nav-link p-0 text-black hover:underline dark:!text-white">팩스 : 0504-283-2381</li>
          <li class="nav-link p-0 text-black hover:underline dark:!text-white">통신판매업신고번호 : 제 2021-화성동탄-0913</li>
          <li class="nav-link p-0 text-black hover:underline dark:!text-white">개인정보 보호책임자 : 김현우</li>
        </ul>

        <!-- <div class="col">
          <h5 class="font-Nanum font-extrabold text-xl dark:text-white">기타</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <div class="flex justify-center md:justify-start">
                <a class="mr-3 dark:text-white">다크모드</a>
                <div class="relative inline-block align-middle w-10 outline-none select-none">
                  <label class="switch">
                    <input type="checkbox" id="fdarkbtn" onclick="darkmode()">
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </li>
          </ul>
        </div> -->
    </div>
    
    <div class="b-example-divider"></div>
    <div class="pt-6 text-center text-xl dark:text-white sm:text-base xs:text-sm 2xs:text-sm" >Copyright ©2023 erukim.kr All rights reserved </div>
</footer>