<html lang="ko">

<head>
    <%- include('../../partials/space/head') %>
</head>

<body>
    <header>
        <%- include('../../partials/space/header'); %>
    </header>
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
        </div>
    </section>

    <%- include('../../partials/space/footer'); %>
</body>

</html>